.header {
  color: #ffffff;
  background-color: #004696;
  padding: 2em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}

.header a,
.header p {
  margin: 0em 1em;
  font-size: 20px;
}

.header p {
  display: inline;
  color: #ffffff;
}

.header p,
img:hover {
  cursor: pointer;
}

#header-images {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-gap: 1em;
}

.main_modal_content.search {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.main_modal_content.profile {
  right: 0%;
}

.modalProfile {
  display: flex;
  flex-direction: column;
  padding: 1em 1.5em;
}

.modalProfile * {
  margin: 1em;
  cursor: pointer;
  color: #ffffff;
}

.modalProfile button {
  margin: 1em;
  cursor: pointer;
  color: #ffffff;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1em;
  text-align: start;
  font-family: "Montserrat", sans-serif;
}

.main_modal_content.notification {
  right: 6em;
}

.modalNotification {
  padding: 1.5em;
}

.modalNotification a {
  color: #ffffff;
  cursor: pointer;
}

.header a {
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
  display: inline-block;
}

.navigation-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main_modal_content.profile,
.main_modal_content.notification {
  position: fixed;
  top: 6em;
}

.phone_nav {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #004696;
}

.phone_nav > * {
  padding: 1em;
}

.menu_icon {
  display: none;
}

.close_navigation_icon {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

@media (max-width: 700px) {
  .main_modal_content.profile,
  .main_modal_content.notification {
    right: 0;
  }

  .header a,
  .header p {
    margin: 0.1em;
  }

  .menu_icon {
    display: block;
  }

  .navigation-container {
    display: none;
  }

  .close_navigation_icon{
    display: block;
  }
}
