.header {
  color: #ffffff;
  background-color: #004696;
  padding: 2em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}

.header a, .header p {
  margin: 0em 1em;
  font-size: 20px;
}

.header p {
  display: inline;
  color: #ffffff;
}

.header p,
img:hover {
  cursor: pointer;
}

#header-images {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-gap: 1em;
}


.modalProfile {
  display: flex;
  flex-direction: column;
  padding: 1em 1.5em;
}

.modalProfile * {
  margin: 1em;
  cursor: pointer;
}

.main_modal_content.search {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.main_modal_content.profile {
  position: fixed;
  right: 0%;
}
