
.no_gosts_container  {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gostsTable {
  width: 100%;
  margin-top: 1em;
}

.gostsTableButton:hover {
  cursor: pointer;
}

th {
  text-align: start;
}

.sortGosts * {
  display: inline;
}

.gostsTable th:first-child,
.gostsTable td:first-child,
.gostsTable th:nth-last-child(2),
.gostsTable td:nth-last-child(2),
.gostsTable th:last-child,
.gostsTable td:last-child {
  width: 3em;
}

.gostsTable th:nth-last-child(2),
.gostsTable td:nth-last-child(2),
.gostsTable th:last-child,
.gostsTable td:last-child {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.pagination li.active a {
  background-color: #004696;
  color: #fff;
  border-color: #004696;
}

.pagination li.disabled a {
  color: #ccc;
  pointer-events: none;
}

.pageSize {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.pageSize p {
  margin-right: 0.5rem;
}

.pageSize select {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
}
