.gostsTable {
  width: 100%;
  margin-top: 1em;
}

.gostsTableButton:hover {
  cursor: pointer;
}

th {
  text-align:start;
}

.sortGosts * {
  display: inline;
}

.gostsTable th:first-child,
.gostsTable td:first-child,
.gostsTable th:nth-last-child(2),
.gostsTable td:nth-last-child(2),
.gostsTable th:last-child,
.gostsTable td:last-child {
    width: 3em;
}

.gostsTable th:nth-last-child(2),
.gostsTable td:nth-last-child(2),
.gostsTable th:last-child,
.gostsTable td:last-child {
    text-align: center;
}