@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

input {
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  padding: 1em;
  font-size: 20px;
  border-radius: 0.5em;
  border: none;
  margin: 1em;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

input {
  padding: 1em;
  border-radius: 1em;
  width: 90%;
  margin: 1em;
  border: 1px solid #a8a8a8;
}

table {
  border-radius: 0.5em;
  border: 1px solid #a8a8a8;
  padding: 0.2em;
  table-layout: fixed;
  border-collapse: collapse;
}

thead th,
tbody th,
tbody td {
  border-top: 1px solid #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
  padding: 0.5em;
  word-break: break-all;
}

.body_container {
  padding: 8em 5em;
}

.btn_blue {
  background-color: #004696;
  color: #ffffff;
}

.btn_white {
  background-color: #ffffff;
  color: #292929;
}

.btn_gray {
  background-color: #A8A8A8;
  color: #ffffff;
}

.btn_darkGray {
  background-color: #292929;
  color: #ffffff;
}

.btn_midGray{
  background-color: #818181;
  color: #ffffff;
}

select {
  width: 90%;
  border-radius: 1em;
}

.invalid-field {
  border-color: red;
  background-color: #ffcdd2;
}